torch
torchvision
torchaudio
wheel
PyYAML
future
setuptools
pytorch-lightning
timm
omegaconf
torchmetrics
bokeh
boto3
cachetools
casadi
control
coverage
descartes
docker
Fiona
geopandas
grpcio
grpcio-tools
guppy3
hydra-core
joblib
jupyterlab
matplotlib
mock
numpy
opencv-python
pandas
Pillow
pre-commit
psutil
pyarrow
pydantic
pyinstrument
pyogrio
pyquaternion
pytest
rasterio
ray
requests
retry
rtree
scipy
selenium
shapely
SQLAlchemy
sympy
testbook
tornado
tqdm
typer
ujson
urllib3
diffusers
dspy-ai
openai
scikit-learn
einops
aioboto3
positional-encodings
nest_asyncio
fvcore
kornia
kornia_rs
tensorboard
